# Common
node_modules
.DS_Store
*.log
*.local

# Frontend
portfolio-app/dist
portfolio-app/dist-ssr
portfolio-app/.env

# Backend
portfolio-backend/node_modules
portfolio-backend/dist
portfolio-backend/.env

# Editor
.vscode
.idea
*.swp
*.suo
